*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #74b0d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 100px;
    height: 500px;
    margin: 5px;
    border-radius: 50px;
    background: url(image/WhatsApp\ Image\ 2021-02-23\ at\ 21.16.57.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}

.img-box:nth-child(2){
    background: url(image/WhatsApp\ Image\ 2021-09-23\ at\ 17.11.39\ \(6\).jpeg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3){
    background: url(image/WhatsApp\ Image\ 2021-10-10\ at\ 18.04.21.jpeg);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4){
    background: url(image/4C74F790-F561-4B01-953B-40829FC09FD4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3{
    color: #d1e634;
    position:absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
}
